.composition
  width: 50%
  display: flex
  flex-direction: column
  align-items: center
  padding: 10px
  box-sizing: border-box
  height: 100vh
  overflow: hidden
  main
    width: 100%
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-end
    .action-bar
      width: 100%
      height: auto
      display: flex
      justify-content: flex-end
      align-items: center
    .merge-button
      border: 2px solid black
      border-radius: 5px
      cursor: pointer
      height: 100%
      display: inline-flex
      padding: 5px
      transition: 0.15s ease
      justify-content: flex-end
      margin-right: 10px
    .add-ensemble-button
      border: 2px solid black
      border-radius: 5px
      cursor: pointer
      height: 100%
      display: inline-flex
      padding: 5px
      transition: 0.15s ease
      justify-content: flex-end
    .add-ensemble-button:hover
      border-color: grey
      background: grey
    .add-ensemble-button:hover > svg
      fill: white
    .ensemble-tab-bar
      width: 100%
      .tabs
        display: flex
        overflow-x: scroll
      .tab
        padding: 10px
        margin: 10px 0
        margin-right: 10px
        border-radius: 0
        border-bottom: 5px inset #413a48
        cursor: pointer
        transition: 0.25s ease
      .tab:hover
        background: #413a48
      .tab:hover > li
        color: white
      .selected
        border-bottom 1px inset #ff9ab1
      .ensemble
        width: 100%
        height: 100%
      .hidden
        background: white
        position: absolute
        visibility: hidden
      .shown
        background: white
        //using pseudo elements to animate only using transform and opacity for best possible performance
        .track::after
          content: ''
          z-index: -1
          position: absolute
          left: 0
          width: 100%
          height: 100px
          opacity: 0
          border-radius: 5px;
          box-shadow: 0 5px 15px rgba(0,0,0,0.3)
          transition: opacity 0.15s ease-in-out
          background: #f17777
        // .track:hover
          // -webkit-transform: scale(1, 1)
          //for safari
          // transform: scale(1, 1)
          //having the hover here before the pseudo element matters
        .track:hover::after
          opacity: 1
        .track
          display: flex
          justify-content: space-between
          align-items: center
          padding: 10px
          cursor: pointer
          transition: transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1)
          opacity: 1
          transform: scale(0.9, 0.9)
          width: 100%
          .track-cell
            width: 10px
            height: 38px
            background: #413a48
          .svg-icon:hover
            fill: grey