.composition
  width: 50%
  display: flex
  flex-direction: column
  align-items: center
  padding: 10px
  box-sizing: border-box
  height: 100vh
  main
    width: 100%
    .ensemble-tab-bar
      width: 100%
      .tabs
        display: flex
      .tab
        padding: 10px
        margin: 10px 0
        margin-right: 10px
        border-radius: 0
        border-bottom: 5px inset #413a48
        cursor: pointer
        transition: 0.25s ease
      .tab:hover
        background: #413a48
      .tab:hover > li
        color: white
      .selected
        border-bottom 1px inset #ff9ab1
      .ensemble
        .track
          display: flex
          justify-content: space-between
          align-items: center
          .track-cell
            width: 10px
            height: 38px
            background: #413a48
          .svg-icon:hover
            fill: grey